.main__container{
    box-shadow: 0 4px 15px rgb(0 0 0 / 10%);
    background-color: white;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6%;
}

/* .service__item input {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
} */

.services__checkbox{

    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-left: 10px;
    


}

.services__checkbox:checked{
    background-color: #95add8;
}

.service__item{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.service__item:hover{
    transform: scale(1.05);
    
}

.service__item  label {
    margin-left: 20px ;
    font-size: 25px;
    font-weight: 500;
}

h2{
    font-size: 37px
}

.services{

    width: 250px;
    height: 200px;
    margin-top: 5%;
    gap: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.services_form{
    gap: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}

.button__container{
    margin-top: 11%;
}